.btn {
  cursor: pointer;
  width: auto;
  min-height: 35px;
  max-height: 35px;
  transition: all 300ms ease-in;
  border-radius: 8px;
  font-weight: 500;
  padding: 0 15px;
  display: inline-block;
  text-transform: lowercase;
  border: none;
}
.btn:not(:disabled) {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
.btn:active:not(:disabled) {
  transform: translateY(3px);
}
.btn:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}
.btn.btn-primary {
  background-color: var(--primary);
  color: var(--text);
}
.btn.btn-primary:hover:not(:disabled) {
  background-color: var(--primary-dark);
}
.btn.btn-primary-dark {
  background-color: var(--primary-dark);
  color: var(--text);
}
.btn.btn-primary-dark:hover:not(:disabled) {
  background-color: var(--primary);
}
.btn.btn-border {
  border: 1px solid var(--primary);
  color: var(--text);
}
.btn.btn-border:hover:not(:disabled) {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.btn.btn-cancel {
  background-color: var(--gray-variant);
  color: var(--text-on-secondary);
}
.btn.btn-cancel:hover:not(:disabled) {
  background-color: var(--gray);
}
.btn:first-letter {
  text-transform: uppercase;
}
@media screen and (max-width: 360px) {
  .btn {
    font-size: 12px;
  }
}
button {
  background: transparent;
  border: 0;
  border-radius: 0;
  outline: transparent;
  cursor: pointer;
}

.action-button {
  background: var(--primary-accent);
  color: var(--text-on-primary);
  border-radius: 10px;
  padding: 1rem 2rem;
}
input,
textarea {
  color: var(--text-on-primary);
}
.beyond-alert-dialog.beyond-alert-dialog-centered .alert-dialog-content, .beyond-alert-dialog.beyond-alert-dialog-centered .actions {
  display: grid;
  justify-content: center;
}
.beyond-alert-dialog .actions {
  border-top: 1px solid var(--gray-light);
  margin-top: 15px;
  display: grid;
  justify-content: end;
  padding: 15px 0 0;
}
.beyond-alert-dialog .actions .beyond-button {
  margin: 0;
}
body.body-beyond-modal-opened {
  height: 100vh;
  overflow-y: hidden;
  padding-right: 15px; /* Avoid width reflow */
}

.beyond-element-modal {
  display: none;
  position: fixed;
  inset: 0;
  z-index: 1;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}
.beyond-element-modal.show-modal {
  display: block;
  z-index: 1000;
  height: 100vh;
  width: 100vw;
  padding: 20px;
}
.beyond-element-modal .modal-wrapper {
  width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
}
.beyond-element-modal .modal-content {
  position: relative;
  color: #000;
  background: #FFF;
  padding: 1.5rem;
}
.beyond-element-modal .close-icon {
  position: absolute;
  top: 10px;
  right: 15px;
  border: none;
  background: none;
  display: inline-block;
  fill: var(--gray);
  color: var(--gray);
  transition: all 100ms ease-in;
  outline: none;
  cursor: pointer;
  width: 30px;
  height: 30px;
}
.beyond-element-modal .close-icon:hover, .beyond-element-modal .close-icon:focus {
  fill: var(--gray-dark);
  color: var(--gray);
  transition: all 100ms ease-in;
}
.beyond-element-modal .close-icon svg {
  height: 12px;
  width: 13px;
  fill: #000;
}
.beyond-confirm-dialog.beyond-confirm-dialog-centered {
  justify-content: center;
  text-align: center;
}
.beyond-confirm-dialog.beyond-confirm-dialog-centered .confirm-dialog-content,
.beyond-confirm-dialog.beyond-confirm-dialog-centered .actions {
  display: grid;
  justify-content: center;
}
.beyond-confirm-dialog .actions {
  border-top: 1px solid var(--gray-light);
  padding: 15px 0 0;
  margin-top: 15px;
  display: grid;
  grid-auto-flow: column;
  grid-gap: 8px;
  justify-content: end;
}
.beyond-confirm-dialog .actions .beyond-button {
  margin: 0;
  min-width: 6rem;
}
.beyond-confirm-dialog.modal-confirm {
  transform: none;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  padding: 14px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  border-radius: var(--border-secondary);
  display: flex;
  flex-direction: row-reverse;
}
.beyond-confirm-dialog.modal-confirm .modal-content {
  padding: 8px 0px 0 0;
  max-width: 400px;
}
.beyond-confirm-dialog.modal-confirm .modal-content p {
  margin: 0;
  font-size: 15px;
}
.beyond-confirm-dialog.modal-confirm .modal-content summary {
  font-size: 17px;
  font-weight: 500;
}
.beyond-confirm-dialog.modal-confirm .close-modal {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: max-content;
  position: absolute;
  top: 8px;
  right: 8px;
}
.beyond-element-modal.md .modal-content {
  width: 70%;
}
.beyond-element-modal.lg .modal-content {
  width: 90%;
}
@media (max-width: 600px) {
  .beyond-element-modal .modal-content, .beyond-element-modal.md .modal-content, .beyond-element-modal.lg .modal-content {
    width: 90%;
  }
}
@media (max-width: 900px) {
  .beyond-element-modal.md {
    min-width: 80%;
  }
  .beyond-element-modal.lg {
    width: 90%;
  }
}
* {
  font-family: var(--font-family);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.beyond-element-toast {
  position: relative;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.beyond-element-toast:before, .beyond-element-toast:after {
  content: "";
  position: absolute;
  z-index: -1;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  top: 50%;
  bottom: 0;
  left: 10px;
  right: 10px;
  border-radius: 100px/10px;
}
.beyond-element-toast:after {
  right: 10px;
  left: auto;
  transform: skew(8deg) rotate(3deg);
}
.beyond-element-toast-container {
  position: fixed;
  top: 60px;
  right: 30px;
  z-index: 10000;
  display: flex;
  flex-direction: column;
  grid-row-gap: 1rem;
  row-gap: 1rem;
  max-width: 25rem;
}
@media screen and (max-width: 450px) {
  .beyond-element-toast-container {
    right: 3px;
  }
}
.beyond-element-toast-container .toast__container {
  display: table-cell;
  vertical-align: middle;
}
.beyond-element-toast-container .add-margin {
  margin-top: 20px;
}
.beyond-element-toast-container .toast__svg {
  fill: #fff;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 15px;
  height: 15px;
}
.beyond-element-toast-container .toast-content {
  text-align: left;
  padding: 21px 0;
  background-color: #fff;
  border-radius: var(--border-secondary);
  max-width: 500px;
  top: 0px;
  position: relative;
  box-shadow: 1px 7px 14px -5px rgba(0, 0, 0, 0.2);
  max-height: 8rem;
  height: auto;
}
.beyond-element-toast-container .toast-content:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 8px;
  height: 100%;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.beyond-element-toast-container .toast__icon {
  position: absolute;
  top: 50%;
  left: 22px;
  transform: translateY(-50%);
  width: 25px;
  height: 25px;
  padding: 7px;
  border-radius: 50%;
  display: inline-block;
}
.beyond-element-toast-container .toast__type {
  color: #3e3e3e;
  margin-top: 0;
  margin-bottom: 8px;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0;
}
.beyond-element-toast-container .toast__message {
  font-size: 14px;
  margin-top: 0;
  margin-bottom: 0;
  color: #878787;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 17px;
}
.beyond-element-toast-container .toast__content {
  padding-left: 70px;
  padding-right: 60px;
}
.beyond-element-toast-container .toast__close {
  position: absolute;
  right: 22px;
  top: -10px;
  bottom: 0;
  margin: auto 0;
  width: 14px;
  cursor: pointer;
  height: 14px;
  fill: #878787;
}
.beyond-element-toast-container .success .toast__icon {
  background-color: #2bde3f;
}
.beyond-element-toast-container .success:before {
  background-color: #2bde3f;
}
.beyond-element-toast-container .info .toast__icon {
  background-color: #1d72f3;
}
.beyond-element-toast-container .info:before {
  background-color: #1d72f3;
}
.beyond-element-toast-container .warning .toast__icon {
  background-color: #ffc007;
}
.beyond-element-toast-container .warning:before {
  background-color: #ffc007;
}
.beyond-element-toast-container .error .toast__icon {
  background-color: var(--error);
}
.beyond-element-toast-container .error:before {
  background-color: var(--error);
}

.beyond-element-toast-container.toast-content {
  bottom: 60px;
  top: auto;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.tooltip {
  position: relative;
  display: flex;
}
.tooltip:before, .tooltip:after {
  --scale: 0;
  --arrow-size: 6px;
  --tooltip-color: #333;
  position: absolute;
  top: 3px;
  transform: translateX(-50%) translateY(var(--translate-y, 0)) scale(var(--scale));
  transition: 150ms transform;
  transform-origin: bottom center;
  left: 50%;
  z-index: 10;
}
.tooltip:before {
  --translate-y: calc(-100% - var(--arrow-size));
  content: attr(data-tooltip);
  color: white;
  padding: 0.5rem;
  border-radius: 0.3rem;
  text-align: center;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  background: var(--tooltip-color);
  font-size: 11.5px;
}
.tooltip:hover:before, .tooltip:hover:after {
  --scale: 1;
}
.tooltip:after {
  --translate-y: calc(-1.2 * var(--arrow-size));
  content: "";
  border: var(--arrow-size) solid transparent;
  border-top-color: var(--tooltip-color);
  transform-origin: top center;
}
.view {
  padding-bottom: 2rem;
}
.view .component-result {
  padding: 24px 24px 0;
  color: var(--text-on-primary);
  row-gap: 8px;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.view .component-result h3 {
  height: fit-content;
}
.view .component-info {
  padding: 24px 24px 0;
  display: flex;
  color: var(--text-on-primary);
  flex-direction: column;
  row-gap: 8px;
}
.view .component-info svg.beyond-icon {
  fill: var(--text-on-secondary);
}
.view .component-implementation {
  display: flex;
  align-items: flex-start;
}
.view .component-implementation .component-info {
  padding: 24px 0 24px 24px;
}
.view .component-implementation .component-info, .view .component-implementation .component-result {
  flex: 1 1 50%;
}
.view .component-implementation .component-result {
  flex-direction: column;
}
.view .component-implementation .component-result h3 {
  align-self: flex-start;
}
.view .component-implementation .component-detail {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  margin: 16px 0 0;
}
.view .component-implementation .component-detail p {
  line-height: 1.5;
}
.view .component-implementation .component-detail code {
  font-style: italic;
  background-color: var(--secondary);
  padding: 4px;
}
@media screen and (max-width: 1024px) {
  .view .component-implementation {
    flex-direction: column;
  }
  .view .component-implementation .component-info, .view .component-implementation .component-result {
    flex: 1 1 100%;
    width: 100%;
  }
  .view .component-implementation .component-info {
    padding: 24px 24px 0;
  }
}